.img_container img {
    width: 100%;
    height: 100%;
}

.d-flex-plans {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.items {
    width: 50%;
}

.tabs{
    padding-top: 23px;
}

.apartments-list>li {
    position: relative;
}

.apartments-list>li::before {
    position: absolute;
    content: "";
    width: 59%;
    height: 1px;
    top: 50%;
    left: 90px;
    transform: translateY(-50%);
    border: 1px dashed;
    border-color: var(--section-bg-5);
    z-index: 1;
    margin: 0 auto;
}


.apartments-list>li label,
.apartments-list>li span {
    z-index: 2;
}

.apartments-list>li {
    list-style: none;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.main-content {
    background-color: #ff5a3c;
    padding: 70px;
    color: #fff;
}

.text-center {
    text-align: center;
}

.links > div {
    margin: 0 20px;
    text-decoration-line: none;
}

.container_ApartmentSketch h3 {
    font-size: 44px;
    margin-top: 5px;
    margin-bottom: 40px;
    color: #071c1f;
}

.links > div {
    margin: 0 20px;
    font-size: 20px;
    color: #071c1f;
    cursor: pointer;
}

.links {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    flex-wrap: wrap;
}
.tabs.active-tabs {
    color: #ff5a3c;
    position: relative;
    padding-bottom: 7px;
}

.main-content h4 {
    font-size: 30px;
}

.main-content p {
    padding: 20px 0;
    line-height: 28px;
}

.tabs.active-tabs::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background: #ff5a3c;
    bottom: 0;
}
.tabs.active-tabs::after {
    position: absolute;
    width: 8px;
    height: 8px;
    background: #ff5a3c;
    content: "";
    bottom: -6px;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%);
    border: 4px solid #fff;
}

@media (max-width: 991px) {
    .d-flex-plans {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 30px;
    }

    .items {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .links > div {
        font-size: 13px;
    }
}