.aboutProperty_item img,
.imgList img {
    width: 100%;
    height: 100%;
}

.d-flex-property {
    display: flex;
}

.aboutProperty_item {
    width: 50%;
}
ul.imgList {
    display: flex;
}
.aboutProperty_item ul {
    list-style-type: none;
    line-height: 35px;
    padding-bottom: 25px;
    color: #5c727d;
}
.aboutProperty_item h4 {
    font-size: 44px;
    line-height: 1.3;
}
.aboutProperty_item p {
    line-height: 26px;
    color: #5c727d;
    margin: 20px 0 30px 0;
}

ul.iconsNumber, ul.iconsNumber li {
    display: flex;
}
.iconsNumber li {
    display: flex;
    flex-direction: column;
}

.iconsNumber li {
    padding-right: 15px;
    margin-left: 10px;
}

.iconsNumber li:first-child {
    margin-left: unset;
}

.aboutProperty_item.imgi {
    padding: 0px 26px 31px 30px;
}

.aboutProperty_container {
    padding-bottom: 90px;
    padding-top: 120px;
}
ul.imgList li {
    padding: 7px;
}
ul.imgList li:first-child{
    padding-left: unset ;
}
ul.line_about li , .iconsNumber li{
    position: relative;
}


ul.line_about li::before {
    position: absolute;
    content: "";
    left: -30px;
    width: 15px;
    height: 1px;
    background-color: #ff5a3c;
    top: 50%;
    transform: translateY(-50%);
}

.line_about{
    padding-left: 30px;
}

.iconsNumber li::before {
    position: absolute;
    content: "";
    right: 2px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 85%;
    background-color: #484747;
    opacity: 0.2;
}
.content_div {
    padding-right: 75px;
}
.aboutProperty_item h4 {
    font-size: 45px;
    color: #071c1f;
    line-height: 1.3;
}
.iconsNumber li:last-child:before {
    background-color:#ffffff;
}








@media (max-width: 991px) {
    .d-flex-property {
        flex-direction: column;
    }
    .aboutProperty_item {
        width: 100%;
    }
    .aboutProperty_item.imgi {
        padding: 0;
    }
    .content_div {
        padding-right: 0;
    }
}